.container_eventos{
  width: 100%;
  .container_title{
    margin: 20px 10px;
    font-family: 'Viga', sans-serif;
    border-bottom : 1px solid  #f8edeb;
    h1{
    }
    
  }
  .container_banners{
    width: 100%;
    display: flex;
    justify-content: center;
    figure{
      width: 100%;
      padding: 5px;
      img{
        width: 300px;
        height: 250px;
        border-radius: 4px;
      }
    }
  }
}
@media (min-width: 200px) and (max-width: 500px){
  .container_eventos{
    .container_banners{
      flex-wrap: wrap;
    }
  }
}
@media (min-width: 501px) and (max-width: 576px){
  .container_eventos{
    .container_banners{
      flex-wrap: wrap;
    }
   
}
}
